.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.subscriptions-list {
  margin-bottom: 20px;
}

.subscriptions-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.subscriptions-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscriptions-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.total-amount h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pay-now-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aeef;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pay-now-button:hover {
  background-color: #4c82af;
}
